:root { 
--gray_400:#c4c4c4; 
--blue_gray_400:#8d8d8d; 
--gray_800:#4f4f4f; 
--gray_900:#191919; 
--blue_gray_300_33:#91aebb33; 
--light_blue_500:#00a3ff; 
--black_900_3f:#0000003f; 
--light_blue_500_72:#00a3ff72; 
--black_900_1e:#0000001e; 
--gray_100:#f4f4f4; 
--black_900_42:#00000042; 
--black_900_dd:#000000dd; 
--black_900_99:#00000099; 
--black_900:#000000; 
--light_blue_500_7f:#00a3ff7f; 
--white_A700:#ffffff; 
}